# macOS
.DS_Store

# secrets / credentials
creds.txt
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
Untitled*.ipynb

# Datasets (большие, качаются скриптом)
day_2/data/
